<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB1tn6cz_O73de7tfqFuWriIRmTzhui748</string>
	<key>GCM_SENDER_ID</key>
	<string>118726461643</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.babazada.CafeApp</string>
	<key>PROJECT_ID</key>
	<string>babazadestudio</string>
	<key>STORAGE_BUCKET</key>
	<string>babazadestudio.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:118726461643:ios:1fa40ca8355be60856b34e</string>
</dict>
</plist>